#wrapper {
  margin:0 15vw;
  height:100vh;
}
#editor-wrapper{
  height:30%;
  margin:2em auto;
}
#editor {
  margin:1em auto;
  width:100%;
  min-height:100px;
  border-width: 3px;
}


#preview {
  text-align: justify;
  margin:0 auto;
  height:30%;
  width:100%;
  border-width: 3px;
  border-style: solid;
}